{% extends  "base.html.twig" %}
{% trans_default_domain 'LleOAuth' %}
{% block page_title %}{{ 'title.edit'|trans }}{% endblock %}
{% block content_title %} {{ 'title.edit'|trans }} {%  endblock %}
{% block main %}
    <style>
        #form_roles label{
            padding-right:5px;
        }
    </style>
    {% block entity_form %}
        <section id="main" class="content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </section>
    {%  endblock %}

{% endblock %}

