{% extends  "base.html.twig" %}
{% trans_default_domain 'LleOAuth' %}
{% block page_title %}{{ 'title.list'|trans }}{% endblock %}
{% block content_title %} {{ 'title.list'|trans }} {%  endblock %}
{% block main %}
    {{ parent() }}
<section>
<div class="row">
        <div class="col-sm-12">
            <div class="global-actions">
                <div style="float:right;">
                    <div class="button-action">
                    <a class="btn btn-primary" style="margin-right:5px;" href="{{path('admin_user_new')}}">
                        <i class="fa fa-download"></i>
                            {{ 'action.new'|trans }}
                    </a>
                    </div>

                </div>
            </div>
        </div>
</div>
</section>


<section id="main" class="content">
<div class="table-responsive">
<table class="table treetable">
    <tr>
        <th>{{ 'label.username'|trans }}</th>
        <th>{{ 'label.actif'|trans }}</th>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.lastname'|trans }}</th>
        <th>{{ 'label.last_con'|trans }}</th>
        <th>{{ 'label.email'|trans }}</th>
        <th>{{ 'label.roles'|trans }}</th>
        <th>{{ 'label.service'|trans }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{user.username}}</td>
        <td>
            {% if user.isActive %}
                <a href="{{ path('admin_user_put', {'isActive':false, 'id': user.id}) }}" class="label label-success">{{ 'label.true'|trans }}</a>
            {%  else %}
                <a href="{{ path('admin_user_put', {'isActive':true, 'id': user.id}) }}" class="label label-danger">{{ 'label.false'|trans }}</a>
            {% endif %}
        </td>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        <td>{%  if user.lastConnection %}{{ user.lastConnection|date('d/m/Y h:i') }}{%  endif %}</td>
        <td>{{user.email}}</td>
        <td>{{ user.roles|join(' ')[0:70] }}...</td>
        <td>{%  if user.codeClient %}{{ user.codeClient|split('/')[1] |service_name }}{%  endif %}</td>
        <td>
            <a onclick="return confirm('{{ 'msg.confirm_delete'|trans }}');" href="{{ path('admin_user_delete', {'id': user.id}) }}" style="color:#fff;" class=" text-danger action-delete btn btn-danger">
                <i class="fa fa-trash"></i>&nbsp;{{ 'action.delete'|trans }}</a>
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" style="color:#fff;" class="btn btn-success">
                <i class="fa fa-pencil"></i>&nbsp;{{ 'action.edit'|trans }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</section>
{% endblock %}