{% extends  "base.html.twig" %}

{% block page_title %}Dashboard{% endblock %}
{% block content_title %} {{ 'title.user.admin_new'|trans }} {%  endblock %}
{% block main %}

    {{ parent() }}


    <section id="main" class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}